each item in media

    if item !== ''

        .media__modal(id="media-modal-"+item+"")

            .media__modal-block

                .media__modal-head

                    .media__modal-logo club 500 <span class='media__modal-symbol'>®</span>

                    .media__modal-close

                .media__modal-company

                    img(src='img/media3.svg' alt='media__modal-logo')

                .media__modal-description Немного текста про источник.<br>Типа самы бла бля.

                .media__modal-content

                    .media__modal-name 500 предпринимателей на одной площадке: итоговый слет «CLUB 500»

                    .media__modal-text 3 августа 2020 года в бизнес-отрасли  состоялось масштабное событие — XVI международная встреча резидентов «CLUB 500» на одной из самых приватных площадок Москвы Barvikha Luxury Village.<br><br>«CLUB 500» —  самый большой премиальный бизнес-клуб России и стран СНГ. В него входят 500 предпринимателей и топ-менеджеров с личным доходом от 1 000 000 рублей в месяц.<br><br>XVI встреча резидентов «CLUB 500» объединила сразу три праздника: День Рождения клуба, посвящение новых резидентов и достижение главной цели — объединение 500 предпринимателей на одной площадке.

                    .media__modal-line


each item, i in residents

    if item

        .residents__modal.tab(id="residents-modal-"+i+"")

            .residents__modal-cirsleOne
            .residents__modal-cirsleTwo

            //- img.residents__modal-img(
            //-     srcset="img/"+item.mphoto+" 767w, img/"+item.photo+" 1920w" 
            //-     sizes="(max-width: 767px) 375px, (min-width: 768px) 1000px" 
            //-     src="img/"+item.photo+"" alt=""
            //- )

            picture.residents__modal-img
                source(srcset="img/"+item.mphoto+"" media="(max-width: 767px)")
                img(src="img/"+item.photo+"" alt="")

            .residents__modal-head

                .residents__modal-logo club 500 <span class='residents__modal-symbol'>®</span>

                .residents__modal-nav

                    //- .residents__modal-link.tab__item.active(data-tab='achievements'+ item +'') ДОСТИЖЕНИЯ
                    //- 
                    //- .residents__modal-link.tab__item(data-tab='about'+ item +'') О СЕБЕ

            .residents__modal-close

            .residents__modal-body

                .residents__modal-forename

                    .residents__modal-name= item.name
                    .residents__modal-surname= item.sname

                .residents__modal-post!= item.prof

                if item.table
                    .residents__modal-table
                        each td in item.table
                            .residents__modal-table__row
                                .residents__modal-table__td!=td.label
                                .residents__modal-table__td!=td.prop

                .tab__mass.open(id='achievements'+ item +'')

                    .residents__modal-mass

                        .residents__modal-facts
                            if item.props
                                each prop in item.props
                                    .residents__modal-cell

                                        if prop.img
                                            .residents__modal-clogo!=prop.img
                                        else
                                            .residents__modal-value
                                                span!=prop.top
                                                | #{prop.val}

                                        .residents__modal-property= prop.label

                        if item.vklybe
                            .residents__modal-forename

                                .residents__modal-name= item.vklybe.title

                            .residents__modal-post!= item.vklybe.sub

                            .residents__modal-facts
                                each prop in item.vklybe.prop
                                    .residents__modal-cell

                                        .residents__modal-value
                                            span!=prop.top
                                            | #{prop.val}

                                        .residents__modal-property!= prop.label


                        .residents__modal-skills

                            .residents__modal-topic= item.label

                            if item.logoList
                                .residents__modal-clogoList!= item.logoList

                            if item.skillsText
                                .residents__modal-skill!= item.skillsText

                            if item.skills
                                .residents__modal-set
                                    each skill in item.skills
                                        .residents__modal-elem= skill
                        if item.text
                            .residents__modal-text!= item.text


            .residents__modal-networks

                a(href='#').residents__modal-icon
                    img(src='img/facebook.svg' alt='residents__modal-icon')

                a(href='#').residents__modal-icon
                    img(src='img/instagram.svg' alt='residents__modal-icon')

            //- .tab__mass(id='about'+ item +'')
            //- 
            //-     .residents__modal-about О СЕБЕ О СЕБЕ О СЕБЕ О СЕБЕ О СЕБЕ
