.app(data-scroll-section="")
    .app__first-screen(data-scroll="")
        .app__circle-path(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="fadeIn" 
            )
        .app__title
            .app__title-item(
                data-scroll="" 
                data-scroll-offset="20%"  
                data-scroll-class="slideRight" 
                ) Мобильное
            .app__title-item(
                data-scroll="" 
                data-scroll-offset="20%"  
                data-scroll-class="slideLeft" 
                ) Приложение
            .app__title-item(
                data-scroll="" 
                data-scroll-offset="20%"  
                data-scroll-class="slideRight" 
                ) club 500
        .app__icon(
            data-scroll="" 
            data-scroll-offset="30%"  
            data-scroll-class="slideUp" 
            )
            <svg width="77" height="42" viewBox="0 0 77 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Vector">
                    <path d="M45.3545 5.53317C45.3545 6.6793 44.4028 7.61188 43.2333 7.61188H43.1369C41.9673 7.61188 41.0157 6.6793 41.0157 5.53317V0.90332H40.0516V5.53317C40.0516 7.19992 41.4361 8.55675 43.1369 8.55675H43.2333C44.9341 8.55675 46.3186 7.19992 46.3186 5.53317V0.90332H45.3545V5.53317Z" fill="white"/>
                    <path d="M32.3613 0.90332H31.3972V8.60399H36.459V7.65912H32.3613V0.90332Z" fill="white"/>
                    <path d="M24.7665 7.6119C23.1447 7.6119 21.8258 6.31932 21.8258 4.73006C21.8258 3.14079 23.1447 1.84821 24.7665 1.84821C25.6487 1.84821 26.4403 2.23088 26.9802 2.8356L27.6223 2.12411C26.9088 1.37389 25.8926 0.903341 24.7665 0.903341C22.6135 0.903341 20.8616 2.62017 20.8616 4.73006C20.8616 6.83994 22.6135 8.55677 24.7665 8.55677C25.9543 8.55677 27.0197 8.03331 27.7361 7.21033L27.0159 6.58294C26.4759 7.21222 25.668 7.6119 24.7665 7.6119Z" fill="white"/>
                    <path d="M56.2852 6.24182C56.2852 5.45002 55.8773 4.75082 55.2574 4.33319C55.6517 3.97131 55.8995 3.4573 55.8995 2.88754C55.8995 1.79339 54.9913 0.90332 53.8748 0.90332H50.2109V8.55675H54.0194V8.55391C55.2776 8.50478 56.2852 7.48621 56.2852 6.24182ZM53.8748 1.84819C54.46 1.84819 54.9353 2.31401 54.9353 2.88754C54.9353 3.46108 54.46 3.9269 53.8748 3.9269H51.1751V1.84819H53.8748ZM53.923 7.61188H51.1751V4.87176H53.923C54.6943 4.87176 55.321 5.48593 55.321 6.24182C55.321 6.99772 54.6943 7.61188 53.923 7.61188Z" fill="white"/>
                    <path d="M61.4504 12.3343C55.884 12.3343 51.0317 15.3561 48.518 19.8018C46.0044 15.3561 41.1521 12.3343 35.5857 12.3343C29.1888 12.3343 23.7281 16.3255 21.688 21.8862C19.4804 19.3047 16.1617 17.6606 12.4533 17.6606C10.3513 17.6606 8.37322 18.1897 6.65376 19.12L7.49527 15.8852H18.3147L19.138 12.3343H4.66108L1.44441 24.6736C1.42984 24.702 1.4189 24.734 1.40797 24.7624H5.53174V24.7837C7.04355 22.6283 9.57901 21.2115 12.4533 21.2115C17.0725 21.2115 20.832 24.876 20.832 29.3785C20.832 33.881 17.0725 37.5455 12.4533 37.5455C8.45335 37.5455 5.10187 34.7972 4.27129 31.1398L0.945312 32.7732C2.44255 37.5846 7.03262 41.0964 12.4496 41.0964C17.1708 41.0964 21.2618 38.4297 23.229 34.5628C25.8665 38.4936 30.4164 41.0964 35.5821 41.0964C41.1484 41.0964 46.0008 38.0746 48.5144 33.6289C51.028 38.0746 55.8804 41.0964 61.4467 41.0964C69.5813 41.0964 76.2005 34.6445 76.2005 26.7154C76.2041 18.7862 69.585 12.3343 61.4504 12.3343ZM35.5857 37.5455C29.4584 37.5455 24.4749 32.6879 24.4749 26.7154C24.4749 20.7428 29.4584 15.8852 35.5857 15.8852C41.7131 15.8852 46.6966 20.7428 46.6966 26.7154C46.6966 32.6879 41.7131 37.5455 35.5857 37.5455ZM61.4504 37.5455C55.323 37.5455 50.3395 32.6879 50.3395 26.7154C50.3395 20.7428 55.323 15.8852 61.4504 15.8852C67.5777 15.8852 72.5612 20.7428 72.5612 26.7154C72.5612 32.6879 67.5777 37.5455 61.4504 37.5455Z" fill="white"/>
                </g>
            </svg>
        .app__subtitle(
            data-scroll="" 
            data-scroll-offset="30%"  
            data-scroll-class="fadeIn" 
            ) Каждый в клубе ставит свою цель и идет к ней
        .app__description(
            data-scroll="" 
            data-scroll-offset="30%"  
            data-scroll-class="fadeIn" 
            ) В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические. И бесплатно загружайте наборы инструментов и лупов после каждого нового релиза — для этого есть новая функция «Фонотека». Вам не составит труда записать композицию в вашем любимом стиле. Всё, что для этого нужно, — только iPhone, iPad или iPod touch.
    .app__main
        .app-grid
            .app-grid__item.app-grid__item_middle.app-grid__item_desctop(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                .app-grid__name название
                .app-grid__name раздела  app
            .app-grid__item.app-grid__item_mobile.app-grid__item_full
                .app-grid__info
                    .app-grid__info-icon(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideUp" 
                        )
                        img(src="img/app/icon/base.svg" alt="base")
                    .app-grid__info-title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideUp" 
                        ) База знаний
                    .app-grid__info-descript(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideUp" 
                        ) В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические. 
            .app-grid__item
                //- .app-grid__img.app-grid__img_ellipse
                .app-grid__img
                    img(src="img/app/min/app-1.png" alt="mobile-app")
            .app-grid__item.app-grid__item_small.app-grid__item_center-center.app-grid__item_desctop
                .app-grid__title(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideLeft" 
                    )
                    .app-grid__title-item описание
                    .app-grid__title-item срин.каст
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img
                    img(src="img/app/min/app-2.png" alt="mobile-app")
            .app-grid__item.app-grid__item_big.app-grid__item_desctop
                .app-grid__descript
                    .app-grid__title(
                        data-scroll="" 
                        data-scroll-offset="15%" 
                        data-scroll-class="slideLeft" 
                        )
                        .app-grid__title-item Бизнес парнер
                        .app-grid__title-item на вашем гаджете
                    .app-grid__article(
                        data-scroll="" 
                        data-scroll-offset="15%" 
                        data-scroll-class="fadeIn" 
                        ) В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические. 
                    .app-grid__card
                        a(href="#").app-grid__card-title См.все
                        .app-grid__card-container-item
                            .app-grid__card-item(data-scroll=""
                                data-scroll-offset="5%"  
                                data-scroll-class="slideRight" 
                                style="background-image: url('../img/app/card-1.png');"
                                )
                            .app-grid__card-item(data-scroll=""
                                data-scroll-offset="10%"  
                                data-scroll-class="slideRight" 
                                style="background-image: url('../img/app/card-2.png');")
                            .app-grid__card-item(data-scroll=""
                                data-scroll-offset="15%"  
                                data-scroll-class="slideRight" 
                                style="background-image: url('../img/app/card-3.png');")
            .app-grid__item.app-grid__item_mobile.app-grid__item_full
                .app-grid__info
                    .app-grid__info-icon
                        img(src="img/app/icon/chat.svg" alt="chat")
                    .app-grid__info-title Запросы
                    .app-grid__info-descript В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические. 
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img
                    img(src="img/app/min/app-3.png" alt="mobile-app")
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img
                    img(src="img/app/min/app-4.png" alt="mobile-app")
            .app-grid__item.app-grid__item_mobile.app-grid__item_full
                .app-grid__info
                    .app-grid__info-icon
                        img(src="img/app/icon/acc.svg" alt="acc")
                    .app-grid__info-title Партнеры
                    .app-grid__info-descript В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические.
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-5.png" alt="mobile-app")
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-6.png" alt="mobile-app")
            .app-grid__item.app-grid__item_big.app-grid__item_center-center.app-grid__item_desctop(
                data-scroll="" 
                data-scroll-offset="20%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__descript
                    .app-grid__title(
                        data-scroll="" 
                        data-scroll-offset="25%"  
                        data-scroll-class="slideRight" 
                        )
                        .app-grid__title-item Удобные виджеты
                    .app-grid__article.app-grid__article_big(
                        data-scroll="" 
                        data-scroll-offset="30%"  
                        data-scroll-class="fadeIn" 
                        ) В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились.
                    .app-grid__img.app-grid__img_margin(
                        data-scroll="" 
                        data-scroll-offset="25%"  
                        data-scroll-class="slideUp" 
                        )
                        img(src="img/app/min/widgets.png" alt="widgets")
            .app-grid__item.app-grid__item_ticket.app-grid__item_desctop(
                data-scroll="" 
                data-scroll-offset="5%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/ticket.png" alt="ticket")
            .app-grid__item.app-grid__item_mobile.app-grid__item_full(
                data-scroll="" 
                data-scroll-offset="5%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__info
                    .app-grid__info-icon
                        img(src="img/app/icon/map.svg" alt="map")
                    .app-grid__info-title Карта
                    .app-grid__info-descript В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические.
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-7.png" alt="mobile-app")
            .app-grid__item(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-8.png" alt="mobile-app")
            .app-grid__item.app-grid__item_center-start.app-grid__item_desctop
                .app-grid__descript
                    .app-grid__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        )
                        .app-grid__title-item Удобные
                        .app-grid__title-item виджеты
                    .app-grid__article.app-grid__article_small(
                        data-scroll="" 
                        data-scroll-offset="15%"  
                        data-scroll-class="fadeIn" 
                        ) В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились.
            .app-grid__item.app-grid__item_mobile.app-grid__item_full(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__info
                    .app-grid__info-icon
                        img(src="img/app/icon/event.svg" alt="event")
                    .app-grid__info-title События
                    .app-grid__info-descript В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические.
            .app-grid__item.app-grid__item_mobile(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-1.png" alt="mobile-app")
            .app-grid__item.app-grid__item_mobile(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-2.png" alt="mobile-app")
            .app-grid__item.app-grid__item_mobile.app-grid__item_full(
                data-scroll="" 
                data-scroll-offset="20%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__info
                    .app-grid__info-icon
                        img(src="img/app/icon/news.svg" alt="news")
                    .app-grid__info-title Новости
                    .app-grid__info-descript В приложении GarageBand для iOS играть и записывать музыку невероятно просто. И так же просто поделиться ею со всем миром, где бы вы ни находились. Одним касанием выбирайте любые музыкальные инструменты, включая этнические.
            .app-grid__item.app-grid__item_mobile(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-3.png" alt="mobile-app")
            .app-grid__item.app-grid__item_mobile(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="slideUp" 
                )
                .app-grid__img   
                    img(src="img/app/min/app-4.png" alt="mobile-app")
    //- .app__bottom(data-scroll="")
        .app__bottom-title(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="fadeIn" 
            ) тестдрайв приложения
        .app__bottom-container
            .app__bottom-item(
                data-scroll="" 
                data-scroll-offset="15%"  
                data-scroll-class="fadeIn" 
                )
            .app__bottom-item(
                data-scroll="" 
                data-scroll-offset="20%"  
                data-scroll-class="slideUp" 
                )
                .app__bottom-img
                    img(src="img/app/min/app-9.png" alt="mobile-app")
                    .app__bottom-ellipse
            .app__bottom-item(
                data-scroll="" 
                data-scroll-offset="25%"  
                data-scroll-class="fadeIn" 
                )
                .app__bottom-prompt
                    .app__bottom-arrow
                        <svg width="233" height="246" viewBox="0 0 233 246" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M231.771 167.135C109.649 162.007 104.04 52.1216 8.52284 92.8887" stroke="white"/>
                            <path d="M22.3202 65.2462L8.4326 92.7324L35.9189 106.62" stroke="white"/>
                        </svg>
                    .app__bottom-text в этом разделе вы можете задать вопрос, а также помочь
