.domWrap#dom(data-scroll-section="")
    div(data-scroll=""  data-scroll-call="dom")
        .dom__after(data-scroll=""  data-scroll-call="dom-end")
            .dom(
                data-scroll="" 
                data-scroll-target=".domWrap" 
                )
                .dom__counter
                    p.dom__counter__null 0
                    .dom__counter__num 1
                    .dom__counter__dot •
                    .dom__counter__all 
                .dom__sliders
                    -
                        domSlider = [
                            {
                                img: 'image1.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image2.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image3.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image4.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image5.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image6.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image7.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image8.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image9.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image10.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image11.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image12.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                            {
                                img: 'image13.jpg',
                                title: 'Заголовок',
                                text: 'После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается'
                            },
                        ]

                    .dom__slider__top
                        each item in domSlider
                            .dom__slider__block(style="background-image:url(img/dom/slider/"+item.img+")" 
                                )
                                .dom__slider__top__convert
                                    .dom__slider__title= item.title
                                    .dom__slider__sub= item.text
                                    .dom__slider__hrefs
                                        a(href="#", target="_blank").dom__slider_a.dom__slider__360
                                        a(href="#", target="_blank").dom__slider_a.dom__slider__eye


                    .dom__slider_map
                        img(src="img/dom/places.svg", alt="")

                    .dom__slider__bottom
                        each item in domSlider
                            .dom__slider__bottom__block
                                img.dom__slider__bottom_img(src="img/dom/slider/"+item.img+"", alt="")



        .domScreen__img.desktop(data-scroll="" data-scroll-call="domImg")
            img.domScreen__block_img(src="img/dom/dom.svg", alt="")

        .domScreen(
            data-scroll="" 
            data-scroll-call="domScreen"
            )

            .domScreen__block
                .domScreen__club
                    img(src="img/dom/club-dom.svg", alt="")
                img.domScreen__block_img.mobile(src="img/dom/dom.svg", alt="")
                .domScreen__block__title МЕСТО ГДЕ РЕЗИДЕНТЫ СТАНОВЯТЬСЯ СЕМЬЕЙ
            //- img(src="img/dom/circle.png", alt="").domScreen__circle    
