.formats(data-scroll-section="")
    .formats__top
        .formats__title(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            ) ФОРМАТЫ
        .formats__sub(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideLeft" 
            ) КЛУБА
    .formats__blocks
        img(src="img/formats/Ellipse 41.png", alt="").ellipse.ellipse1
        img(src="img/formats/Ellipse 41.png", alt="").ellipse.ellipse2
        img(src="img/formats/Ellipse 41.png", alt="").ellipse.ellipse3
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) БОЛЬШОЙ СЛЕТ РЕЗИДЕНТОВ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
            .formats__block__title БОЛЬШОЙ СЛЕТ РЕЗИДЕНТОВ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideLeft" 
            )
            img(src="img/formats/Rectangle 4.jpg", alt="").formats__block_img
        .formats__block.formats__block__circle 
            img(src="img/formats/Ellipse 38.png", alt="").formats__block_img
            div ЭКСКУРСИИ<br>В КОРПОРАЦИИ
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                ) ВСТРЕЧИ СО СПИКЕРОМ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                ) Экслюзивно для резилентов клуба,мы приглашаем самых интересных спикеров из разных сфер.
                <br>Формат проходит в 2 этапа:
                <br><br>Выступление спикера и сессия вопросов от резидентов.
                <br><br>Что решает?
                <br>Глубоко изучаем опыт интереснейших спикеров и крупнейших компаний. Личное знакомство.
                <br>Нетворкинг.
        .formats__block
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
            img(src="img/formats/Rectangle 4.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) ИНВЕСТИЦИОННЫЙ КЛУБ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__sub.formats__block__onlySub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block.formats__block__circle 
            img(src="img/formats/Ellipse 38.png", alt="").formats__block_img
            div ONLINE<br>ОБУЧЕНИЕ
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) БОЛЬШОЙ СЛЕТ РЕЗИДЕНТОВ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                ) ЗАКРЫТЫЕ ЧАТЫ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block.formats__block__chat(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideLeft" 
            )
            img(src="img/formats/Group 2246.png", alt="").formats__block_img
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) БАННЫЙ НЕТВОРКИНГ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__sub.formats__block__onlySub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block.formats__block__circle 
            img(src="img/formats/Ellipse 38.png", alt="").formats__block_img
            div СОВЕТ<br>ДИРЕКТОРОВ
        .formats__block(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            )
            img(src="img/formats/Rectangle 4.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) ЗАКРЫТЫЕ ВЕЧЕРИНКИ
            .formats__block__sub(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                ) Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
