.formats(data-scroll-section="")
    .formats__top(data-scroll="" data-scroll-call="update")
        .formats__title(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideRight" 
            ) ФОРМАТЫ
        .formats__sub(
            data-scroll="" 
            data-scroll-offset="10%"  
            data-scroll-class="slideLeft" 
            ) CLUB 500
    .formats__blocks
        //- .ellipse.ellipse1
        //- .ellipse.ellipse2
        //- .ellipse.ellipse3
        //- .ellipse.ellipse4
        //- img(src="img/formats/Ellipse_1.jpg", alt="").ellipse.ellipse1
        //- img(src="img/formats/Ellipse_2.jpg", alt="").ellipse.ellipse2
        //- img(src="img/formats/Ellipse_3.jpg", alt="").ellipse.ellipse3
        //- img(src="img/formats/Ellipse_4.jpg", alt="").ellipse.ellipse4
        .formats__row
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                img(src="img/formats/formats-1.jpg", alt="").formats__block_img
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) Итоговый слет CLUB 500
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) 
                            p 
                                |Шесть самых масштабных мероприятий клуба в год, 
                                br 
                                |куда слетаются резиденты со всего мира. Максимальная 
                                br 
                                |концентрация успеха и энергии сосредоточены в одном месте. 
                                br 
                                |Лучшие спикеры, масштабный нетворкинг, шоу-программа, уникальные локации.
                            p Слёт — это другая реальность, где энергетика 
                                br 
                                |бизнес-сообщества достигает предела.

        .formats__row
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                .formats__block_text
                    .formats__block__title ПУТЕШЕСТВИЯ
                    .formats__block__sub 
                        p CLUB 500 — это не только про бизнес.
                            br 
                            | Клуб единомышленников способных на любые подвиги. Вместе мы покоряем вершины, исследуем новые 
                            br 
                            | горизонты и скрытые от обычных туристов локации.
                            br 
                            | Уникальные маршруты наших экспедиций — 
                            br 
                            | это незабываемые эмоции абсолютной свободы.
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                )
                img(src="img/formats/formats-2.jpg", alt="").formats__block_img

        .formats__row.formats__row_circle
            .formats__block
                .formats__circle 
                    .formats__circleText ЭКСКУРСИИ<br>В КОРПОРАЦИИ
                    .formats__circleBox(
                        data-scroll=""
                        data-scroll-speed="1.2"
                        )
                        img(src="img/formats-circle-1.jpg", alt="")

            .formats__block
                .formats__block_text
                    .formats__block__sub.formats__block__onlySub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) 
                            p CLUB 500 — это безграничные возможности. Наши резиденты получают доступ 
                                br
                                | к уникальному формату — VIP-экскурсии 
                                br
                                | в топ компании России и мира. 
                                br
                                | Нас приглашали: mail.ru Group, 
                                br
                                | Белая дача, Абрау Дюрсо, Грасс, 
                                br
                                | Сколково, Аскона, Ройстат.

        .formats__row
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) встречи <br>с ментором
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) 
                            p Мероприятие закрытого типа. Мы приглашаем основателей
                                br
                                | и топ-менеджеров крупнейших компаний. Опыт,
                                br
                                | компетенции, внутренняя информация из первых уст.
                                br
                                | Только у резидентов CLUB 500 есть возможность задать 
                                br
                                | и получить ответы на все интересующие их вопросы.
            .formats__block
                img(src="img/formats/formats-3.jpg", alt="").formats__block_img

        .formats__row
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                img(src="img/formats/formats-4.jpg", alt="").formats__block_img
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) ИНВЕСТИЦИОННЫЙ КЛУБ
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) 
                            p Формат, в котором принимают участие только обладатели 
                                br 
                                | VIP-доступа CLUB 500. Направление как для тех, 
                                br 
                                | кто инвестирует, так и для тех, кто привлекает 
                                br 
                                | инвестиции в свой проект.

                            p Обучение финансовой грамотности, разбор успешных 
                                br 
                                |и неуспешных кейсов, создание инвестиционных пулов, опытнейшие инвесторы страны.

        .formats__row.formats__row_circle
            .formats__block
                .formats__block_text
                    .formats__block__sub.formats__block__onlySub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) 
                            p Один из самых популярных форматов CLUB 500,
                                br 
                                | в котором собран уникальный опыт, детально 
                                br 
                                | разделенный по главным бизнес-блокам. Максимально 
                                br 
                                | детальный разбор одной или нескольких тем, изучение 
                                br 
                                | подводных камней и превентивных инструментов.
                                br 
                                | В любой точке мира резидент CLUB 500 может воспользоваться этим форматом имея
                                br 
                                | лишь доступ в интернет. Все резиденты получают доступ
                                br 
                                | к записи, если не было возможности подключиться online.
            .formats__block
                .formats__circle
                    .formats__circleText ONLINE<br>ОБУЧЕНИЕ
                    .formats__circleBox(
                    data-scroll=""    
                    data-scroll-speed="2"

                        )
                        img(src="img/formats-circle-2.jpg", alt="")

        .formats__row
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                img(src="img/formats/formats-5.jpg", alt="").formats__block_img
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) Бизнес-завтрак
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) 
                            p Любимый формат резидентов CLUB 500, 
                                br 
                                | совмещающий в себе сразу несколько ценностей: 
                                br 
                                | нетворкинг, выступление спикера, вкуснейших 
                                br 
                                | завтрак в лучших ресторанах Москвы.

        .formats__row
            .formats__block
                .formats__circle.mobile
                    .formats__circleText ЗАКРЫТЫЕ <br>ЧАТЫ
                    .formats__circleBox.formats__circleBox_phone(
                        data-scroll="" 
                        data-scroll-speed="1.2"
                        )
                        img(src="img/formats/Group_2246.png", alt="")
                .formats__block_text.desktop
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) ЗАКРЫТЫЕ ЧАТЫ
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) 
                            p Поддержка клуба 24/7, непрерывное общение внутри 
                                br 
                                | удобной платформы, где за несколько часов решаются 
                                br 
                                | бизнес-вопросы любой сложности
            .formats__block.desktop
                .formats__block__chat(
                    data-scroll="" 
                    data-scroll-offset="10%"  
                    data-scroll-class="slideLeft" 
                    )
                    img(src="img/formats/Group_2246.png", alt="").formats__block_img

        .formats__row
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                img(src="img/formats/formats-6.jpg", alt="").formats__block_img
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) БАННЫЙ НЕТВОРКИНГ
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) 
                            p Баня — душа клуба, где нет места поддельным 
                                br 
                                | эмоциям. Как правило, именно там происходит 
                                br 
                                | самый лучший нетворкинг и рождаются 
                                br 
                                | долгосрочные партнёрства. Каждое воскресенье 
                                br 
                                | душа CLUB 500 открыта.

        .formats__row.formats__row_circle
            .formats__block
                .formats__block_text
                    .formats__block__sub.formats__block__onlySub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) 
                            p Специально для резидентов CLUB 500 мы закрываем 
                                br 
                                | лучшие клубы, бары и рестораны, попасть в которые можно 
                                br 
                                | исключительно по спискам. Выступление звезд и именитых 
                                br 
                                | музыкантов — вишенка на торте наших мероприятий.
            .formats__block
                .formats__circle
                    .formats__circleText закрытые <br>вечеринки
                    .formats__circleBox(
                        data-scroll=""
                        data-scroll-speed="1.2"
                        )
                        img(src="img/formats-circle-3.jpg", alt="")

        .formats__row
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideRight" 
                )
                img(src="img/formats/formats-7.jpg", alt="").formats__block_img
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) Бизнес-образование
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideLeft" 
                        ) 
                            p Абсолютно новый формат CLUB 500. Бизнес образование 
                            br 
                            | в любой точке планеты. Одна неделя, Одна страна, 
                            br 
                            | лучише университеты мира, группа из 50-ти резидентов 
                            br 
                            | и грандиозная завершающая вечеринка.

        .formats__row
            .formats__block
                .formats__block_text
                    .formats__block__title(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) Спортивные <br>мероприятия
                    .formats__block__sub(
                        data-scroll="" 
                        data-scroll-offset="10%"  
                        data-scroll-class="slideRight" 
                        ) 
                            p Бизнес и спорт — неотделимые понятия, которые 
                                br 
                                | помогают резидентам клуба расслабляться и получать адреналин: 
                                br 
                                | регулярные пробежки, хоккей, бокс, теннис — активности, 
                                br 
                                | которые мы внедрили на постоянной основе
            .formats__block(
                data-scroll="" 
                data-scroll-offset="10%"  
                data-scroll-class="slideLeft" 
                )
                img(src="img/formats/formats-8.jpg", alt="").formats__block_img
