.innumber(data-scroll-section="")
    .innumber__bg(
        data-scroll="" 
        data-scroll-sticky="" 
        data-scroll-target=".innumber" 
        )
        img(src="img/innumber.jpg", alt="")

    .innumber__top
        .innumber__title(
            data-scroll="" 
            data-scroll-offset="20%" 
            data-scroll-class="fadeIn"
            ) CLUB 500 <br>в цифрах

    .innumber__row(
        data-scroll="" 
        data-scroll-offset="30%" 
        data-scroll-class="slideUp"
        )
        .innumber__item
            .innumber__name средний возраст
            .innumber__counter
                .innumber__counterNum 35
                .innumber__counterLabel лет 

        .innumber__item
            .innumber__name оборот компани
            .innumber__counter
                .innumber__counterNum 300+
                .innumber__counterLabel млн в год

    .innumber__row(
        data-scroll="" 
        data-scroll-offset="30%" 
        data-scroll-class="slideUp"
        )
        .innumber__item
            .innumber__name страна
            .innumber__map
                img(src="img/map.svg", alt="")

    .innumber__row(
        data-scroll="" 
        data-scroll-offset="30%" 
        data-scroll-class="slideUp"
        )
        .innumber__item
            .innumber__name доход участников клуба
            .innumber__income
                .innumber__incomeItem
                    .innumber__round
                        //- img(src="img/income-ellips.svg", alt="")
                        img(src="img/income-1.svg", alt="")
                    .innumber__incomeContent
                        .innumber__incomeNum 13%
                        .innumber__incomeLabel 1 — 3 млн ₽

                .innumber__incomeItem
                    .innumber__round
                        //- img(src="img/income-ellips.svg", alt="")
                        img(src="img/income-2.svg", alt="")
                    .innumber__incomeContent
                        .innumber__incomeNum 25%
                        .innumber__incomeLabel 3 — 5 млн ₽

                .innumber__incomeItem
                    .innumber__round
                        //- img(src="img/income-ellips.svg", alt="")
                        img(src="img/income-3.svg", alt="")
                    .innumber__incomeContent
                        .innumber__incomeNum 22%
                        .innumber__incomeLabel 5 — 10 млн ₽

                .innumber__incomeItem
                    .innumber__round
                        //- img(src="img/income-ellips.svg", alt="")
                        img(src="img/income-4.svg", alt="")
                    .innumber__incomeContent
                        .innumber__incomeNum 40%
                        .innumber__incomeLabel 10 + млн ₽

    .innumber__row(
        data-scroll="" 
        data-scroll-offset="30%" 
        data-scroll-class="slideUp"
        )
        .innumber__item
            .innumber__name сферы бизнеса
            .innumber__prof
                .innumber__profItem(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideLeft"
                    ) услуги
                    .innumber__profPercent 28%
                .innumber__profItem(
                    data-scroll="" 
                    data-scroll-offset="40%" 
                    data-scroll-class="slideLeft"
                    ) производство
                    .innumber__profPercent 40%
                .innumber__profItem(
                    data-scroll="" 
                    data-scroll-offset="60%" 
                    data-scroll-class="slideLeft"
                    ) продажи
                    .innumber__profPercent 32%

    .innumber__row(
        data-scroll="" 
        data-scroll-offset="30%" 
        data-scroll-class="slideUp"
        )
        .innumber__item
            .innumber__name пол
            .innumber__gender
                .innumber__genderPhoto
                    img(src="img/man.png", alt="")
                    .innumber__genderPercent 86%
                .innumber__genderName мужчины

        .innumber__item
            .innumber__name 
            .innumber__gender
                .innumber__genderPhoto
                    img(src="img/woman.png", alt="")
                    .innumber__genderPercent 14%
                .innumber__genderName.innumber__genderName_woman женщины


    .innumber__row(
        data-scroll="" 
        data-scroll-offset="30%" 
        data-scroll-class="slideUp"
        )
        .innumber__item
            .innumber__name география
            .innumber__place
                .innumber__placeRow
                    .innumber__placeLine
                        .innumber__placeImg(style="width: 50%" data-scroll="" data-scroll-class="animCity")
                            img(src="img/chart-1.svg", alt="")
                        .innumber__placePercent 46%
                    .innumber__placeLabel москва
                .innumber__placeRow
                    .innumber__placeLine
                        .innumber__placeImg(style="width: 40%" data-scroll="" data-scroll-class="animCity")
                            img(src="img/chart-2.svg", alt="")
                        .innumber__placePercent 33%
                    .innumber__placeLabel регионы
                .innumber__placeRow
                    .innumber__placeLine
                        .innumber__placeImg(style="width: 23%" data-scroll="" data-scroll-class="animCity")
                            img(src="img/chart-3.svg", alt="")
                        .innumber__placePercent 21%
                    .innumber__placeLabel зарубеж
