.major(data-scroll-section="")

    .major__video

        .major__head

            a(href='#' class='major__company') club 500 <span class='major__symbol'>®</span>

            .major__video-close

        video(id="majorVideo" preload="auto" autoplay="true" loop="loop" muted)

            source(src="video/video.mp4" type="video/mp4")
            source(src="video/video.webm" type="video/webm")

        .major__video-cellar

            .major__video-status пауза

            .major__video-bar

                .major__video-current


    .major__content

        .major__title Закрытый клуб предпринимателей

        .major__titlesub и топ-менеджеров с личным доходом от 300 000 рублей в год

    .major__networks(data-scroll
        data-scroll-speed="-4"
        data-scroll-position="top"
        data-scroll-direction="horizontal"
        )

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/instagram.svg' alt='major__networks-icon')

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/youtube.svg' alt='major__networks-icon')

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/whatsapp.svg' alt='major__networks-icon')

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/telegram.svg' alt='major__networks-icon')

    .major__year(data-scroll
        data-scroll-speed="4"
        data-scroll-position="top"
        data-scroll-direction="horizontal"
        ) ©2020
