.major(data-scroll-section="")

    .major__video

        video(preload="auto" autoplay="true" loop="loop" muted)

            source(src="video/video.mp4" type="video/mp4")
            source(src="video/video.webm" type="video/webm")

    .major__background

        .major__stencil

            <svg viewBox="0 0 1113 583" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" clip-rule="evenodd" d="M450.007 0H464.255V99.3375H524.81V113.231H450.007V0ZM624.918 98.6428C642.201 98.6428 656.264 84.93 656.264 68.0774V0H670.512V68.0774C670.512 92.5853 650.052 112.536 624.918 112.536H623.493C598.359 112.536 577.899 92.5853 577.899 68.0774V0H592.147V68.0774C592.147 84.93 606.21 98.6428 623.493 98.6428H624.918ZM352.021 98.6431C328.056 98.6431 308.564 79.637 308.564 56.2684C308.564 32.8998 328.056 13.8937 352.021 13.8937C365.058 13.8937 376.756 19.5205 384.735 28.4122L394.224 17.9505C383.68 6.9192 368.663 0.000308398 352.021 0.000308398C320.205 0.000308398 294.316 25.2445 294.316 56.2684C294.316 87.2922 320.205 112.536 352.021 112.536C369.575 112.536 385.319 104.84 395.905 92.7384L385.262 83.5132C377.283 92.7662 365.343 98.6431 352.021 98.6431ZM802.606 50.4329C811.768 56.5737 817.794 66.8548 817.794 78.4974C817.794 96.795 802.905 111.772 784.311 112.494V112.536H728.031V0H782.174C798.673 0 812.095 13.0875 812.095 29.176C812.095 37.5537 808.434 45.1117 802.606 50.4329ZM797.847 29.176C797.847 20.7428 790.823 13.8934 782.174 13.8934H742.28V44.4587H782.174C790.823 44.4587 797.847 37.6093 797.847 29.176ZM742.28 98.6428H782.887C794.285 98.6428 803.546 89.6121 803.546 78.4974C803.546 67.3827 794.285 58.3521 782.887 58.3521H742.28V98.6428ZM703.015 269.802C740.16 204.433 811.866 160 894.124 160C1014.33 160 1112.15 254.87 1112.1 371.459C1112.1 488.049 1014.28 582.919 894.07 582.919C811.812 582.919 740.106 538.486 702.961 473.117C665.815 538.486 594.109 582.919 511.851 582.919C435.515 582.919 368.277 544.647 329.301 486.848C300.231 543.707 239.775 582.919 170.007 582.919C89.9562 582.919 22.1257 531.281 0 460.534L49.1502 436.516C61.4243 490.294 110.951 530.707 170.061 530.707C238.322 530.707 293.878 476.824 293.878 410.619C293.878 344.414 238.322 290.531 170.061 290.531C127.586 290.531 90.1178 311.363 67.7768 343.056V342.743H6.83699C6.87089 342.655 6.9048 342.565 6.93922 342.474C7.06874 342.13 7.20539 341.767 7.37552 341.437L54.9105 160H268.846L256.679 212.212H96.7932L84.3577 259.778C109.767 246.098 138.999 238.318 170.061 238.318C224.864 238.318 273.906 262.493 306.529 300.451C336.676 218.687 417.373 160 511.905 160C594.163 160 665.869 204.433 703.015 269.802ZM347.712 371.459C347.712 459.28 421.357 530.707 511.905 530.707C602.453 530.707 676.098 459.28 676.098 371.459C676.098 283.638 602.453 212.212 511.905 212.212C421.357 212.212 347.712 283.638 347.712 371.459ZM729.932 371.459C729.932 459.28 803.576 530.707 894.124 530.707C984.673 530.707 1058.32 459.28 1058.32 371.459C1058.32 283.638 984.673 212.212 894.124 212.212C803.576 212.212 729.932 283.638 729.932 371.459Z" fill="#ffffff"/><defs></defs></svg>

    .major__content

        .major__title Закрытый клуб предпринимателей

        .major__titlesub и топ-менеджеров с личным доходом от 300 000 рублей в год

    .major__networks(data-scroll
        data-scroll-speed="-4"
        data-scroll-position="top"
        data-scroll-direction="horizontal"
        )

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/instagram.svg' alt='major__networks-icon')

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/youtube.svg' alt='major__networks-icon')

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/whatsapp.svg' alt='major__networks-icon')

        a(href='#' class='major__networks-item')

            .major__networks-icon
                img(src='img/telegram.svg' alt='major__networks-icon')

    .major__year(data-scroll
        data-scroll-speed="4"
        data-scroll-position="top"
        data-scroll-direction="horizontal"
        ) ©2020
