.poster(data-scroll-section="")
    .poster__title(
        data-scroll="" 
        data-scroll-offset="10%" 
        data-scroll-class="slideLeft"
        ) афиша
    .poster__grid
        .poster__col
            .poster__grid
                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__img
                        img(src="img/poster-0.png", alt="")

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="fadeIn"
                    )
                    .poster__plate
                        .poster__month(data-events-month="oktober") Окт
                            span ябрь
                            .poster__count 3 мероприятия

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events="oktober")
                            img(src="img/poster-1.jpg", alt="")
                            .poster__descr
                                .poster__time 12 
                                    small 10
                                .poster__name экскурсия <br>в Grass
                                .poster__fulltime 12 октября 2020 

        .poster__col(
            data-scroll="" 
            data-scroll-offset="15%" 
            data-scroll-class="slideUp"
            )
            .poster__plate
                .poster__img(data-events-month="oktober")
                    img(src="img/poster-2.jpg", alt="")
                    .poster__descr
                        .poster__time 11 
                            small 10
                        .poster__name баня
                        .poster__fulltime 11 октября 2020 

        .poster__col
            .poster__grid
                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="oktober")
                            img(src="img/poster-3.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 10
                                .poster__name online мастер-класс
                                .poster__fulltime 14 октября 2020 

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="oktober")
                            img(src="img/poster-4.jpg", alt="")
                            .poster__descr
                                .poster__time 15
                                    small 10
                                .poster__name бизнес-завтрак с Евгением Бутманом
                                .poster__fulltime 15 октября 2020 

                .poster__col.poster__col_semi

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="oktober")
                            img(src="img/poster-5.jpg", alt="")
                            .poster__descr
                                .poster__time 15
                                    small 10
                                .poster__name закрытая презентация Rolls-Royce
                                .poster__fulltime 15 октября 2020 

                .poster__col
                    .poster__plate(
                        data-scroll="" 
                        data-scroll-offset="10%" 
                        data-scroll-class="fadeIn"
                        )
                        .poster__plate
                            .poster__month.desktop Окт
                                span ябрь

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-6.jpg", alt="")
                            .poster__descr
                                .poster__time 16
                                    small 10
                                .poster__name встреча <br>без галстуков
                                .poster__fulltime 16 октября 2020 

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-7.jpg", alt="")
                            .poster__descr
                                .poster__time 18
                                    small 10
                                .poster__name баня
                                .poster__fulltime 18 октября 2020 

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col

                .poster__col

                .poster__col(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-8.jpg", alt="")
                            .poster__descr
                                .poster__time 24
                                    small 10
                                .poster__name финансовый анализ
                                .poster__fulltime 24 октября 2020 

                .poster__col

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-9.jpg", alt="")
                            .poster__descr
                                .poster__time 27
                                    small 10
                                .poster__name pre-party in Birds
                                .poster__fulltime 27 октября 2020 

        .poster__col.poster__col_semi
            .poster__grid.poster__grid_duble
                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-10.jpg", alt="")
                            .poster__descr
                                .poster__time 25
                                    small 10
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 25 октября 2020 

                .poster__col
                    .poster__plate
                        .poster__img(
                            data-scroll="" 
                            data-scroll-offset="15%" 
                            data-scroll-class="slideUp" 
                            data-events-month="october"
                            )
                            img(src="img/poster-11.jpg", alt="")
                            .poster__descr
                                .poster__time 27
                                    small 10
                                .poster__name встреча <br>новичков
                                .poster__fulltime 27 октября 2020 

                        .poster__img
                            img(src="img/poster-0.png", alt="")

        .poster__col

        .poster__col
            .poster__plate
                .poster__img(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp" 
                    data-events-month="october"
                    )
                    img(src="img/poster-12.jpg", alt="")
                    .poster__descr
                        .poster__time 29
                            small 10
                        .poster__name XVII <br>итоговый слёт
                        .poster__fulltime 29 октября 2020 

        .poster__col
            .poster__plate
                .poster__img
                    img(src="img/poster-0.png", alt="")
                .poster__img(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp" 
                    data-events-month="october"
                    )
                    img(src="img/poster-13.jpg", alt="")
                    .poster__descr
                        .poster__time 29
                            small 10
                        .poster__name after-party
                        .poster__fulltime 29 октября 2020 


        .poster__col.poster__col_semi
            .poster__grid
                .poster__col.mobile
                    .poster__plate
                        .poster__month(
                            data-scroll="" 
                            data-scroll-offset="10%" 
                            data-scroll-class="fadeIn" 
                            data-events-month="november"
                            ) Нояб
                            span рь
                            .poster__count 3 мероприятия

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="november")
                            img(src="img/poster-14.jpg", alt="")
                            .poster__descr
                                .poster__time 11
                                    small 11
                                .poster__name online <br>мастер-классe
                                .poster__fulltime 11 ноября 2020 

                .poster__col.desktop
                    .poster__plate
                        .poster__plate
                            .poster__month(
                                data-scroll="" 
                                data-scroll-offset="10%" 
                                data-scroll-class="fadeIn" 
                                data-events-month="november"
                                ) Нояб
                                span рь
                                .poster__count 3 мероприятия

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="november")
                            img(src="img/poster-15.jpg", alt="")
                            .poster__descr
                                .poster__time 17
                                    small 11
                                .poster__name бизнес-завтрак
                                .poster__fulltime 17 ноября 2020 

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="november")
                            img(src="img/poster-16.jpg", alt="")
                            .poster__descr
                                .poster__time 18
                                    small 11
                                .poster__name встреча со спикером
                                .poster__fulltime 18 ноября 2020 


        .poster__col.poster__col_semi
            .poster__grid
                .poster__col

                .poster__col

                .poster__col(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="november")
                            img(src="img/poster-17.jpg", alt="")
                            .poster__descr
                                .poster__time 19
                                    small 11
                                .poster__name секретное мероприятие
                                .poster__fulltime 19 ноября 2020 

                .poster__col

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="november")
                            img(src="img/poster-18.jpg", alt="")
                            .poster__descr
                                .poster__time 25
                                    small 11
                                .poster__name online <br>мастер-классe
                                .poster__fulltime 25 ноября 2020 

        .poster__col.poster__col_semi
            .poster__grid.poster__grid_duble
                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="november")
                            img(src="img/poster-19.jpg", alt="")
                            .poster__descr
                                .poster__time 20
                                    small 11
                                .poster__name инвестиционный <br>клуб
                                .poster__fulltime 20 ноября 2020 

                .poster__col
                    .poster__plate
                        //- .poster__img(
                        //-     data-scroll="" 
                        //-     data-scroll-offset="15%" 
                        //-     data-scroll-class="slideUp" 
                        //-     data-events-month="november"
                        //-     )
                        //-     img(src="img/poster-11.jpg", alt="")
                        //-     .poster__descr
                        //-         .poster__time 18
                        //-             small 11
                        //-         .poster__name встреча со спикером
                        //-         .poster__fulltime 18 ноября 2020 
                        //- 
                        //- .poster__img
                        //-     img(src="img/poster-0.png", alt="")
