.poster(data-scroll-section="")
    .poster__title(
        data-scroll="" 
        data-scroll-offset="10%" 
        data-scroll-class="slideLeft"
        ) афиша
    .poster__grid
        .poster__col
            .poster__grid
                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__img
                        img(src="img/poster-0.png", alt="")

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="fadeIn"
                    )
                    .poster__plate
                        .poster__month(data-events-month="september") Сент
                            span ябрь
                            .poster__count 3 мероприятия

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events="september")
                            img(src="img/poster-1.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

        .poster__col(
            data-scroll="" 
            data-scroll-offset="15%" 
            data-scroll-class="slideUp"
            )
            .poster__plate
                .poster__img(data-events-month="september")
                    img(src="img/poster-2.jpg", alt="")
                    .poster__descr
                        .poster__time 14 
                            small 00
                        .poster__name иммерсивный балет для club 500
                        .poster__fulltime 24 сентебря 2020 

        .poster__col
            .poster__grid
                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="september")
                            img(src="img/poster-3.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )

                .poster__col.poster__col_semi(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="september")
                            img(src="img/poster-4.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col.poster__col_semi

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="september")
                            img(src="img/poster-5.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col
                    .poster__plate(
                        data-scroll="" 
                        data-scroll-offset="10%" 
                        data-scroll-class="fadeIn"
                        )
                        .poster__month(data-events-month="october") Окт
                            span ябрь
                            .poster__count 3 мероприятия

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-6.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-7.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

        .poster__col.poster__col_semi
            .poster__grid
                .poster__col

                .poster__col

                .poster__col(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-8.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col

                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-9.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

        .poster__col.poster__col_semi
            .poster__grid.poster__grid_duble
                .poster__col.poster__col_width(
                    data-scroll="" 
                    data-scroll-offset="15%" 
                    data-scroll-class="slideUp"
                    )
                    .poster__plate
                        .poster__img(data-events-month="october")
                            img(src="img/poster-10.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col
                    .poster__plate
                        .poster__img(
                            data-scroll="" 
                            data-scroll-offset="15%" 
                            data-scroll-class="slideUp" 
                            data-events-month="october"
                            )
                            img(src="img/poster-11.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                        .poster__img
                            img(src="img/poster-0.png", alt="")

        .poster__col
            .poster__grid
                .poster__col.poster__col_semi
                    .poster__img
                        img(src="img/poster-0.png", alt="")

                .poster__col.poster__col_semi
                    .poster__plate
                        .poster__month(
                            data-scroll="" 
                            data-scroll-offset="10%" 
                            data-scroll-class="fadeIn" 
                            data-events-month="november"
                            ) Нояб
                            span рь
                            .poster__count 3 мероприятия

                .poster__col.poster__col_semi

                .poster__col.poster__col_semi
                    .poster__plate
                        .poster__img(
                            data-scroll="" 
                            data-scroll-offset="10%" 
                            data-scroll-class="slideUp" 
                            data-events-month="november"
                            )
                            img(src="img/poster-12.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

        .poster__col
            .poster__plate
                .poster__img(
                    data-scroll="" 
                    data-scroll-offset="10%" 
                    data-scroll-class="slideUp" 
                    data-events-month="november"
                    )
                    img(src="img/poster-13.jpg", alt="")
                    .poster__descr
                        .poster__time 14 
                            small 00
                        .poster__name иммерсивный балет для club 500
                        .poster__fulltime 24 сентебря 2020 

        .poster__col
            .poster__grid
                .poster__col.poster__col_semi
                    .poster__img(data-events-month="november")
                        img(src="img/poster-14.jpg", alt="")
                        .poster__descr
                            .poster__time 14 
                                small 00
                            .poster__name иммерсивный балет для club 500
                            .poster__fulltime 24 сентебря 2020 

                .poster__col.poster__col_semi

                .poster__col.poster__col_semi
                    .poster__plate
                        .poster__img(
                            data-scroll="" 
                            data-scroll-offset="10%" 
                            data-scroll-class="slideUp" 
                            data-events-month="november"
                            )
                            img(src="img/poster-15.jpg", alt="")
                            .poster__descr
                                .poster__time 14 
                                    small 00
                                .poster__name иммерсивный балет для club 500
                                .poster__fulltime 24 сентебря 2020 

                .poster__col.poster__col_semi
