mixin item(item, i)
    .residents__picture(data-modal-id="residents-modal-"+item+"")

        img(src='img/residents-'+i+'.jpg' class='residents__img' alt= item.name)

    .residents__content

        .residents__name!= item.name

        .residents__post!= item.prof

.residents#residents(data-scroll-section="")

    .residents__circle-one(data-scroll="" data-scroll-speed="1")
    .residents__circle-two(data-scroll="" data-scroll-speed="3")
    .residents__circle-three(data-scroll="" data-scroll-speed="5")
    .residents__circle-four(data-scroll="" data-scroll-speed="2")
    .residents__circle-five(data-scroll="")
    .residents__circle-six(data-scroll="")
    .residents__circle-seven(data-scroll="")
    .residents__circle-eight(data-scroll="")
    .residents__circle-nine(data-scroll="")

    .residents__head

        .residents__title(
            data-scroll="" 
            data-scroll-class="slideRight" 
            data-scroll-offset="10%" 
            ) Резиденты

        .residents__titlesub(
            data-scroll="" 
            data-scroll-class="slideLeft" 
            data-scroll-offset="10%" 
            ) club 500

    .residents__set


        - var ri = 0;
        each item, i in residents

            if i%2
                .residents__box(
                    data-scroll="" 
                    data-scroll-class="slideUp" 
                    data-scroll-offset="20%" 
                    )

                    if item
                        - ri++;
                        +item(item, ri)

            else
                .residents__box(
                    data-scroll="" 
                    data-scroll-class="slideUp" 
                    data-scroll-offset="10%" 
                    )

                    if item
                        - ri++;
                        +item(item, ri)
