.speakers(data-scroll-section="")

    .speakers__circle-one(data-scroll="" data-scroll-speed="1")
    .speakers__circle-two(data-scroll="" data-scroll-speed="3")
    .speakers__circle-three(data-scroll="" data-scroll-speed="2")
    .speakers__circle-four(data-scroll="" data-scroll-speed="1")

    .speakers__head

        .speakers__title спикеры

        .speakers__titlesub club 500

    .speakers__set

        .speakers__box(data-scroll=""
            data-scroll-offset="100" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

        .speakers__box(data-scroll=""
            data-scroll-offset="150" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

        .speakers__box(data-scroll=""
            data-scroll-offset="200" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

                .speakers__content

                    .speakers__name Оскар Хартманн

                    .speakers__post Основатель проектов KupiVIP.ru, Carprice, Aktivo, CarFix

        .speakers__box(data-scroll=""
            data-scroll-offset="250" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

                .speakers__content

                    .speakers__name Михаил Кучмент

                    .speakers__post Совладелец Hoff

        .speakers__box(data-scroll=""
            data-scroll-offset="300" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="350" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

        .speakers__box(data-scroll=""
            data-scroll-offset="100" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="150" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="200" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="250" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

        .speakers__box(data-scroll=""
            data-scroll-offset="300" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="350" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="100" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="150" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="200" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

        .speakers__box(data-scroll=""
            data-scroll-offset="250" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box(data-scroll=""
            data-scroll-offset="300" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

        .speakers__box(data-scroll=""
            data-scroll-offset="350" 
            data-scroll-repeat="" 
            data-scroll-position="top" 
            data-scroll-class="slideUp" 
            )

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')
