.speakers(data-scroll-section="")

    .speakers__circle-one(data-scroll="" data-scroll-speed="1")
    .speakers__circle-two(data-scroll="" data-scroll-speed="3")
    .speakers__circle-three(data-scroll="" data-scroll-speed="2")
    .speakers__circle-four(data-scroll="" data-scroll-speed="1")

    .speakers__head

        .speakers__title(data-scroll=""
            data-scroll-offset="10%" 
            data-scroll-position="top" 
            data-scroll-class="slideRight" 
            ) спикеры

        .speakers__titlesub(data-scroll=""
            data-scroll-offset="10%" 
            data-scroll-position="top" 
            data-scroll-class="slideLeft" 
            ) club 500

    .speakers__set


        each item in speakers
            if item
                .speakers__box(data-scroll=""
                    data-scroll-offset="200" 
                    data-scroll-position="top" 
                    data-scroll-class="slideUp" 
                    )

                    .speakers__item

                        img(src='img/speaker-'+item.photo+'.jpg' class='speakers__img' alt='speaker-name')

                        .speakers__content

                            .speakers__name= item.name

                            .speakers__post!= item.prof

            else
                .speakers__box
