.speakers(data-scroll-section="")

    .speakers__circle-one(data-scroll="" data-scroll-speed="1")
    .speakers__circle-two(data-scroll="" data-scroll-speed="3")
    .speakers__circle-three(data-scroll="" data-scroll-speed="2")
    .speakers__circle-four(data-scroll="" data-scroll-speed="1")

    .speakers__head

        .speakers__title(data-scroll=""
            data-scroll-offset="10%" 
            data-scroll-position="top" 
            data-scroll-class="slideRight" 
            ) спикеры

        .speakers__titlesub(data-scroll=""
            data-scroll-offset="10%" 
            data-scroll-position="top" 
            data-scroll-class="slideLeft" 
            ) club 500

    .speakers__set

        - speakers = [false, false, {name: 'Оскар Хартманн', prof: 'Основатель проектов KupiVIP.ru, Carprice, Aktivo, CarFix', photo: '1'}, {name: 'Михаил Кучмент', prof: 'Совладелец Hoff', photo: '2'}, {name: '', prof: '', photo: '3'}, false, {name: '', prof: '', photo: '4'}, {name: 'Гил Петерсил', prof: 'Эксперт по нетворкингу <br>и преподаватель Стартап Академии Сколково', photo: '5'}, {name: 'Алексей Васильчук', prof: 'Владелец холдинга RESTart Vasilchuk Brothers', photo: '6'}, false, {name: 'Костя Цзю ', prof: 'Российский боксёр, трёхкратный чемпион СССР', photo: '7'}, {name: 'Максим Батырев', prof: '', photo: '8'}, {name: 'Александр Орлов ', prof: '', photo: '9'}, {name: 'Сергей Солонин', prof: '', photo: '10'}, false, {name: 'Сергей Федоринов', prof: '', photo: '11'}, false, {name: 'Борис Зарьков', prof: '', photo: '12'}];

        each item in speakers
            if item
                .speakers__box(data-scroll=""
                    data-scroll-offset="200" 
                    data-scroll-position="top" 
                    data-scroll-class="slideUp" 
                    )

                    .speakers__item

                        img(src='img/speaker-'+item.photo+'.jpg' class='speakers__img' alt='speaker-name')

                        .speakers__content

                            .speakers__name= item.name

                            .speakers__post!= item.prof

            else
                .speakers__box
