.steps(data-scroll-section="")

    .steps__container

        .steps__title(
            data-scroll="" 
            data-scroll-offset="30%" 
            data-scroll-class="slideLeft"
            ) отбор резидентов club 500

        .steps__title-mob(
            data-scroll="" 
            data-scroll-offset="30%" 
            data-scroll-class="slideLeft"
            ) чтобы стать резидентом клуба

        .steps__appeal сделай <span class='steps__appeal-num'>4</span> шага

        .steps__set

            .steps__row

                .steps__num(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideLeft"
                    ) 1

                .steps__name(
                    data-scroll="" 
                    data-scroll-offset="25%" 
                    data-scroll-class="slideLeft"
                    ) заявка

                .steps__num(
                    data-scroll="" 
                    data-scroll-offset="30%" 
                    data-scroll-class="slideLeft"
                    ) 2

            .steps__row

                .steps__name(
                    data-scroll="" 
                    data-scroll-offset="30%" 
                    data-scroll-class="slideRight"
                    ) консультация

                .steps__prompt(
                    data-scroll="" 
                    data-scroll-offset="50%" 
                    data-scroll-class="fadeIn"
                    ) с личным менеджером

            .steps__row

                .steps__num(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideLeft"
                    ) 3

                .steps__name(
                    data-scroll="" 
                    data-scroll-offset="25%" 
                    data-scroll-class="slideLeft"
                    ) интервью

            .steps__row

                .steps__num(
                    data-scroll="" 
                    data-scroll-offset="25%" 
                    data-scroll-class="slideRight"
                    ) 4

                .steps__name(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideRight"
                    ) проверка

                .steps__num.mob 5

                .steps__prompt(
                    data-scroll="" 
                    data-scroll-offset="50%" 
                    data-scroll-class="fadeIn"
                    ) службой безопасности

            .steps__row

                .steps__num.pc(
                    data-scroll="" 
                    data-scroll-offset="20%" 
                    data-scroll-class="slideLeft"
                    ) 5

                .steps__name(
                    data-scroll="" 
                    data-scroll-offset="25%" 
                    data-scroll-class="slideLeft"
                    ) посвящение

            .steps__action.js_action(
                data-scroll="" 
                data-scroll-offset="20%" 
                data-scroll-class="slideUp"
                )

                .steps__action-text подать 
                .steps__action-text заявку <span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span><span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span><span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span>


.modal.steps__modal

    .modal__block

        .modal__head

            .modal__logo club 500 <span class='modal-symbol'>®</span>

            .modal__close

        .modal__mass

            .modal__title получите доступ в club 500

            form.modal__form

                .modal__row

                    input(type='text' class='modal__field' placeholder='Ваше имя')

                .modal__row

                    input(type='text' class='modal__field' placeholder='Сфера бизнеса')

                    .modal__icon

                        img(src='img/steps-icon.svg')

                .modal__row.none

                    input(type='text' class='modal__field' placeholder='Обород компании в год')

                .modal__row.none

                    input(type='text' class='modal__field' placeholder='Личный доход в год')

                .modal__row

                    input(type='email' class='modal__field' placeholder='Email')

                .modal__row

                    input(type='tel' class='modal__field' placeholder='Телефон')

                .modal__cellar

                    button(class='modal__btn') отправить

                    .modal__notice Нажимая на кнопку отправить, вы даете согласие на обработку персональных данных
