.tarrifs#tarrifs(data-scroll-section="")
    .tarrifs__circle
        .tarrifs__circle-one(
            data-scroll="" 
            data-scroll-speed="1" 
            )
        .tarrifs__circle-two(
            data-scroll="" 
            data-scroll-speed="4" 
            )
        .tarrifs__circle-three(
            data-scroll="" 
            data-scroll-speed="2" 
            )
        .tarrifs__circle-four(
            data-scroll="" 
            data-scroll-speed="3" 
            )

    .tarrifs__first-screen
        .tarrifs__title(
            data-scroll="" 
            data-scroll-class="slideLeft" 
            data-scroll-offset="10%" 
            ) тарифы
    .tarrifs__main
        ul.tarrifs-modal#wrap-modal
            li.tarrifs-modal__item
                a.tarrifs-modal__open(href="#" data-open="start") Start
            li.tarrifs-modal__item
                a.tarrifs-modal__open(href="#" data-open="member") Member
            li.tarrifs-modal__item
                a.tarrifs-modal__open(href="#" data-open="vip") vip
        .tarrifs__container
            .tarrifs__column(data-tarrifs="vip")
                .tarrifs__column-wrapp
                    .tarrifs__column-head
                        .tarrifs__column-title(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            ) VIP
                        .tarrifs__column-close
                    .tarrifs__column-subtitle(
                        data-scroll="" 
                        data-scroll-class="fadeIn" 
                        data-scroll-offset="15%" 
                        ) 400 000 ₽—единоразовый вступительный взнос
                    ul.tarrifs__column-list
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 6
                            .tarrifs__column-right
                                span Итоговых<br>слетов
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 6
                            .tarrifs__column-right
                                span Форум<br>сессий
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 12
                            .tarrifs__column-right
                                span Бизнес<br> завтраков
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 3
                            .tarrifs__column-right
                                span Экскурсии<br> в компании
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 4
                            .tarrifs__column-right
                                span VIP всречи<br> с менторами
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 12
                            .tarrifs__column-right
                                span Инвестиционных<br> встреч
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left 3
                            .tarrifs__column-right
                                span Закрытые<br> VIP-встречи
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left -
                            .tarrifs__column-right
                                span Доступ<br> ко всем чатам
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-left -
                            .tarrifs__column-right
                                span Закрытый<br> инвестиционный чат 
                        li.tarrifs__column-bottom(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="15%" 
                            )
                            .tarrifs__column-price Посадка в первый ряд, <br>VIP-менеджер, парковка 
                            .tarrifs__column-price Уровень ответственности:
                            .tarrifs__column-period — 1 млрд ₽ — оборот бизнеса в год
                            .tarrifs__column-price 95 000 ₽
                            .tarrifs__column-period — ежемесячный платеж
                        .tarrifs__column-button
                            a(href="#").tarrifs__btn.js_action Подать заявку
            .tarrifs__column(data-tarrifs="member")
                .tarrifs__column-wrapp
                    .tarrifs__column-head
                        .tarrifs__column-title(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            ) Member
                        .tarrifs__column-close
                    .tarrifs__column-subtitle(
                        data-scroll="" 
                        data-scroll-class="fadeIn" 
                        data-scroll-offset="20%" 
                        ) 300 000 ₽—единоразовый вступительный взнос
                    ul.tarrifs__column-list
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            )
                            .tarrifs__column-left 6
                            .tarrifs__column-right
                                span Итоговых<br> слетов
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            )
                            .tarrifs__column-left 6
                            .tarrifs__column-right
                                span Форум<br> сессий
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            )
                            .tarrifs__column-left 12
                            .tarrifs__column-right
                                span Бизнес-<br> завтраков
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            )
                            .tarrifs__column-left 3
                            .tarrifs__column-right
                                span Экскурсии<br> в компании
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            )
                            .tarrifs__column-left -
                            .tarrifs__column-right
                                span Доступ ко всем чатам<br> (кроме инвестиционного)
                        li.tarrifs__column-bottom(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="20%" 
                            )
                            .tarrifs__column-price Уровень ответственности:
                            .tarrifs__column-period — 300 млн ₽ — оборот бизнеса в год
                            .tarrifs__column-price 65 000 ₽
                            .tarrifs__column-period — ежемесячный платеж
                        .tarrifs__column-button
                            a(href="#").tarrifs__btn.js_action Подать заявку
            .tarrifs__column(data-tarrifs="start")
                .tarrifs__column-wrapp
                    .tarrifs__column-head
                        .tarrifs__column-title(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="25%" 
                            ) Start
                        .tarrifs__column-close
                    .tarrifs__column-subtitle(
                        data-scroll="" 
                        data-scroll-class="fadeIn" 
                        data-scroll-offset="25%" 
                        ) 200 000 ₽—единоразовый вступительный взнос
                    ul.tarrifs__column-list
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="25%" 
                            )
                            .tarrifs__column-left 6
                            .tarrifs__column-right
                                span Итоговых<br>слетов
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="25%" 
                            )
                            .tarrifs__column-left 6
                            .tarrifs__column-right
                                span Форум<br>сессий
                        li.tarrifs__column-item(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="25%" 
                            )
                            .tarrifs__column-left -
                            .tarrifs__column-right
                                span Доступ ко всем чатам<br> (кроме инвестиционного)
                        li.tarrifs__column-bottom(
                            data-scroll="" 
                            data-scroll-class="fadeIn" 
                            data-scroll-offset="25%" 
                            )
                            .tarrifs__column-price Уровень ответственности:
                            .tarrifs__column-period — 200 млн ₽ — оборот бизнеса в год
                            .tarrifs__column-price 55 000 ₽
                            .tarrifs__column-period — ежемесячный платеж
                        .tarrifs__column-button
                            a(href="#").tarrifs__btn.js_action Подать заявку
